* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
}

.nav-item a {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

.btn {
    background: #0057FF;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.purchase-template-btn .btn {
    padding: 14px 40px;
}

.about-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 66px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.about-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 17px;
}

.rating-name {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}

.btn-get-start {
    background: #FFA332;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 40px;
    text-decoration: none;
}

.label {
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #0057FF;
    margin-bottom: 5px;
}

.ET-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.ET-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-bottom: 77px;
}

.ET-bg {
    display: block;
    margin: 0 auto;
}

.more {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.marketing_title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 48px;
}

.marketing_descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 37px;
}

.marketing-item {
    margin-right: 90px;
}

.marketing-item:last-child {
    margin-right: 0;
}

.marketing-item_icon {
    margin-bottom: 28px;
}

.marketing-item_title {
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 16px;
}

.read-more {
    display: inline-block;
    padding: 14px 40px;
    margin-top: 24px;
}

.marketing-form-block {
    width: 540px;
    min-height: 865px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
    border-radius: 15px;
}

.form-title {
    font-weight: 400;
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 26px;
    margin-top: 57px;
}

.form-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}

input {
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    padding: 13px 26px;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}

.input-name {
    margin-left: 40px;
    width: 218px;
}

.input-email {
    margin-left: 20px;
    width: 218px;
}

.input-subgect {
    margin-top: 32px;
    width: 460px;
    margin-left: 40px;
}

.input-subgect-2 {
    margin-top: 32px;
    width: 460px;
    margin-left: 40px;
    padding: 13px 314px 80px 26px;
}

.marketing-form-btn {
    display: block;
    width: 450px;
    width: 460px;
    height: 52px;
    margin-top: 42px;
    margin-left: 40px;
}

.world-over-title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
}

.world-over-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
}

.questions-list {
    margin-top: 58px;
    list-style: none;
    width: 500px;
    min-height: 356px;
    border: 1px solid #E7E7E7;
    border-radius: 20px;
}

.world-over-text {
    margin-top: 48px;
}

.questions-item {
    padding: 30px;
}

.opportunities-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 50px;
}

.opportunities-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 36px;
}

.graphics-item {
    margin-bottom: 30px;
}

.graphic-line-1 {
    background: #EBEBEB;
    border-radius: 100px;
    width: 540px;
    height: 4px;
    border-left: 460px solid #0057FF;
}

.graphic-line-2 {
    background: #EBEBEB;
    border-radius: 100px;
    width: 540px;
    height: 4px;
    border-left: 351px solid #B861FF;
}

.graphic-line-3 {
    background: #EBEBEB;
    border-radius: 100px;
    width: 540px;
    height: 4px;
    border-left: 390px solid #FF8E32;
}

.graphic-info {
    margin-bottom: 10px;
}

.opportunities_prof-ticket {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(83, 83, 83, 0.15);
    border-radius: 10px;
    width: 540px;
    height: 710px;
}

.cost-month {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}

.cost {
    display: block;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
}

.pt-services-list {
    margin-left: 109px;
    margin-top: 22px;
}

.pt-services-item {
    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
}

.prof-ticket_btn {
    display: block;
    padding: 14px 40px;
    margin: 0 auto;
    margin-top: 55px;
}

/*-------------- FlexBox --------------*/

.main-header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-logo {
    margin-right: 50px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.promo {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Rating {
    display: flex;
    align-items: center;
}

.rating-photo {
    margin-right: 20px;
}

.btn-get-start {
    display: inline-block;
    margin-top: 40px;
}

.ET {
    margin-top: 10px;
}

.marketing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.marketing-item-wrapper {
    display: flex;
}

.world-over {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.questions-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opportunities-block {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.graphic-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

