* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
}

.nav-item a {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

.btn {
    background: #0057FF;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.purchase-template-btn .btn {
    padding: 14px 40px;
}

.about-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 66px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.about-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 17px;
}

.rating-name {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}

.btn-get-start {
    background: #FFA332;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 40px;
    text-decoration: none;
}

.label {
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #0057FF;
    margin-bottom: 5px;
}

.ET-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.ET-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-bottom: 77px;
}

.ET-bg {
    display: block;
    margin: 0 auto;
}

.more {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

/*-------------- FlexBox --------------*/

.main-header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-logo {
    margin-right: 50px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.promo {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Rating {
    display: flex;
    align-items: center;
}

.rating-photo {
    margin-right: 20px;
}

.btn-get-start {
    display: inline-block;
    margin-top: 40px;
}

.ET {
    margin-top: 10px;
}